<h1>Episode</h1>

<%= @episode.date %>
<ul>
  <% @episode.guests.each do |guest|%>
    <li><%= link_to guest.name, "/guests/#{}" %></li>
  <%end%>
</ul>

TODO: link guest name to guest show page
TODO:  add a list of episodes guests appeared on showing date, and rating
