<h1><%= @episode.id %></h1>
<label>Air Date:</label>
<p><%= @episode.date %></p>
<br>
<label>Guests:</label>
<% @episode.appearances.each do | appearance | %>
    <li><%= link_to(appearance.guest.name, appearance) %></li>
<% end %>