<h1>Episode Date: <%= @episode.date %></h1>
<h3>Average Rating: <%= @average_rating %></h3>
<h1>List of Guests: </h1>
<ul>
<% @episode.guests.each do |guest|%>
<li><%= link_to guest.name, guest %></li>
<% end %>
</ul>